<! DOCTYPE html>
<html>
  <body>

    <h1>New addition</h1>

      <form action="/wizard_add">
        <label for = "first_field">Add this:</label>
        <input id = "first_field" name = "first_num" type = "text"  >

        <label for = "second_field">to this:</label>
        <input id = "second_field" name = "second_num" type = "text" >

        <button>Add!</button>
      </form>

  </body>
</html>
