<! DOCTYPE html>
<html>
  <body>

    <h1>Multiplication</h1>

    <dl>
      <dt>First Number</dt>
      <dd> <%= @item1 %>  </dd>

      <dt>Second Number</dt>
      <dd> <%= @item2 %> </dd>

      <dt>Result</dt>
      <dd> <%= @result %> </dd>
    </dl>
    
    <div>
      <a href = "/multiply">Do another multiplication</a>
    </div>
  
  </body>
</html>
