<! DOCTYPE html>
<html>
  <body>

    <h1>New subtraction</h1>

      <form action="/wizard_subtract">
        <label for = "first_field">Subtract this:</label>
        <input id = "first_field" name = "first_num" type = "text"  >

        <label for = "second_field">from this:</label>
        <input id = "second_field" name = "second_num" type = "text" >

        <button>Subtract!</button>
      </form>

  </body>
</html>
