<! DOCTYPE html>
<html>
  <body>

    <h1>Subtraction</h1>

    <dl>
      <dt>First Number</dt>
      <dd> @first_number.to_f</dd>

      <dt>Second Number</dt>
      <dd> @second_number.to_f</dd>

      <dt>Result</dt>
      <dd> @result </dd>

    <div>
      <a href = "/subtract">Do another subtraction</a>
    </div>

  </body>
</html>
